DEBUG=False
SECRET_KEY=change-me-in-production
ALLOWED_HOSTS=127.0.0.1,localhost,your-domain.com
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3


# PostgreSQL (production)
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=tetatet
# DB_USER=postgres
# DB_PASSWORD=secret
# DB_HOST=localhost
# DB_PORT=5432

# Redis для WebSocket в production
# REDIS_URL=redis://127.0.0.1:6379/0

# Email
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
